/* Hedding tag styling first */
.heading {
    font-size: 30px;
    padding: 16px 0; /* 16 for tp and btm, 0 lft and rgt */
    color: #444;
    text-align: center;
}

.container {
    margin: 36px auto;
    width: 100%;
    max-width: 800px;
}

.search-label {
    position: relative;
}

.container input {
    width: 180%; /* this is for the width of the search bar*/
    padding: 16px;
    font-size: 36px;
    font-style: italic;
    color: #444;
    box-sizing: border-box;
    outline: none; 
}

.search-icon {
    top: -10px;
    font-size: 24px;
    color: #555;
     /* this moves the icon to the right 18 px so that it fits inside the search bar */
}